.portfolio__about {
    display: flex;
}

.portfolio__about-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.portfolio__about-content-container {
    flex: 1;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: row;    
    flex-wrap: wrap-reverse;
    margin-top: 5rem;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 8px;
    padding: 4rem;
}

.portfolio__about-content h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: 0.05em;
}


.portfolio__about-content-body {
    flex: 2;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 1rem;
}

.portfolio__about-content-body p {
    font-family: var(--font-family-text);
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.04em;
    color: var(--color-white);
    text-align: justify;
}

.portfolio__about-content-body p a:hover {
    font-style: italic;
    text-decoration: underline;
}

.portfolio__about-content-body .button {
    padding: 1rem 1.5rem;
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    border-radius: 50px;
    color: rgba(202, 197, 49, 1);
    background: linear-gradient(90deg, rgba(202, 197, 49, 0.10) 0%, rgba(243, 249, 167, 0.10) 100%);
    border: 1px solid rgba(202, 197, 49, 0.56);
    /* border: none; */
    margin-top: 8rem;
}
.portfolio__about-content-body .button:hover {
    box-shadow: 0px 0px 10px rgba(202, 197, 49, 1);
}
.portfolio__about-content-img {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    margin-left: 1rem;
}

.portfolio__about-content-img img {
    height: 512px;
    width: 395.69px;
    border-radius: 8px;
    justify-content: flex-end;
    filter: grayscale(1);
}   
.portfolio__about-content-img img:hover {
    filter: grayscale(0);
}   



@media screen and (max-width: 1050px) {
    .portfolio__about-content h1 {
        font-size: 36px;
        line-height: 44px;
        letter-spacing: 0.05em;
    }
    .portfolio__about-content-body {
        /* margin: 0px; */
        margin-top: 2rem;
        justify-content: center;
        align-items: center;
    }
    .portfolio__about-content-body p {
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.04em;
    }
    .portfolio__about-content-body .button {
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.05em;
        margin-top: 4rem;
    }
    .portfolio__about-content-img {
        /* margin: 0px; */
        justify-content: center;
        align-items: center;
    }
    .portfolio__about-content-img img {
        width: 256px;
        height: 331.25px;
        border-radius: 8px;
    }
}

@media screen and (max-width: 700px) {
    .portfolio__about-content h1 {
        font-size: 28px;
        line-height: 32px;
        letter-spacing: 0.05em;
    }
    .portfolio__about-content-body {
        /* margin: 0px; */
        margin-top: 2rem;
        justify-content: center;
        align-items: center;
    }
    .portfolio__about-content-body p {
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.04em;
    }
    .portfolio__about-content-body .button {
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.05em;
        margin-top: 4rem;
    }
    .portfolio__about-content-img {
        /* margin: 0px; */
        justify-content: center;
        align-items: center;
    }
    .portfolio__about-content-img img {
        width: 256px;
        height: 331.25px;
        border-radius: 8px;
    }
}

@media screen and (max-width: 550px) {
    .portfolio__about-content h1 {
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.05em;
    }
    .portfolio__about-content-body {
        /* margin: 0px; */
        margin-top: 2rem;
        justify-content: center;
        align-items: center;
    }
    .portfolio__about-content-container {
        padding: 3rem;
    }
    .portfolio__about-content-body p {
        font-size: 16px;
        line-height: 18px;
        letter-spacing: 0.04em;
    }
    .portfolio__about-content-body .button {
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.05em;
        margin-top: 2rem;
        padding: 0.5rem 1rem;
    }
    .portfolio__about-content-img {
        margin: 0px;
        justify-content: center;
        align-items: center;
    }
    .portfolio__about-content-img img {
        width: auto;
        height: 178px;
        border-radius: 8px;
    }
}
@media screen and (max-width: 375px) {
    .portfolio__about-content-img img {
        width: auto;
        height: 162px;
        border-radius: 8px;
    }
    .portfolio__about-content-container {
        padding: 2rem;
    }
}