.portfolio__projects {
    padding: 6rem 0;
    display: flex;
}

.portfolio__projects-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.portfolio__projects-content h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: 0.05em;
    margin-bottom: 5rem;
}

.portfolio__projects-content-container {
    flex: 1;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: row;    
    flex-wrap: wrap;
    margin: 0 8rem;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.08);
    padding: 2rem;
    margin-top: 2.5rem;
}

hr {
    margin: 5rem;
    color: #E0E0E0;
    border: none;
    border-top: 1xp solid #E0E0E0;
}

.portfolio__projects-content-body {
    flex: 2;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 1rem;
}

.portfolio__projects-content-body p {
    font-family: var(--font-family-text);
    font-weight: 400;
    font-size: 22px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: var(--color-white);
    text-align: justify;
}
.portfolio__projects-content-body p b {
    font-family: var(--font-family);
    color: rgba(202, 197, 49, 1);
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.08em;
}

.portfolio__projects-content-body .button {
    font-family: var(--font-family-text);
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: var(--color-white);
    /* color: rgba(202, 197, 49, 1); */
    margin-top: 2rem;
}
.portfolio__projects-content-body .button:hover {
    text-decoration: underline;
    color: rgba(202, 197, 49, 1);
    font-style: italic;
    letter-spacing: 0.1em;
}
.portfolio__projects-content-img {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    margin-right: 1rem;
}

.portfolio__projects-content-img img {
    height: auto;
    width: 384px;
    border-radius: 8px;
    justify-content: flex-end;
    filter: grayscale(1);
}   
.portfolio__projects-content-img img:hover {
    filter: grayscale(0);
}   

@media screen and (max-width: 1050px) {
    .portfolio__projects-content-container {
        margin: 6rem 10rem;
    }
    .portfolio__projects-content h1 {
        font-size: 36px;
        line-height: 44px;
        letter-spacing: 0.05em;
        margin-bottom: 4rem;
    }
    .portfolio__projects-content-body {
        /* margin: 0px; */
        margin-top: 2rem;
        justify-content: center;
        align-items: center;
    }
    .portfolio__projects-content-body p {
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.04em;
    }
    .portfolio__projects-content-body .button {
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.05em;
        margin-top: 4rem;
    }
    .portfolio__projects-content-img {
        margin: 0px;
        justify-content: center;
        align-items: center;
    }
    .portfolio__projects-content-img img {
        width: 284px;
        height: auto;
        border-radius: 8px;
    }
    .portfolio__projects-content-body p b {
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.08em;
    }
}

@media screen and (max-width: 700px) {
    .portfolio__projects-content-container {
        margin: 4rem 6rem;
    }
    .portfolio__projects-content h1 {
        font-size: 28px;
        line-height: 32px;
        letter-spacing: 0.05em;
        margin-bottom: 3rem;
    }
    .portfolio__projects-content-body {
        /* margin: 0px; */
        margin-top: 2rem;
        justify-content: center;
        align-items: center;
    }
    .portfolio__projects-content-body p {
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.04em;
    }
    .portfolio__projects-content-body .button {
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.05em;
        margin-top: 4rem;
    }
    .portfolio__projects-content-img {
        /* margin: 0px; */
        justify-content: center;
        align-items: center;
    }
    .portfolio__projects-content-img img {
        width: 224px;
        height: auto;
        border-radius: 8px;
    }
    .portfolio__projects-content-body p b {
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.08em;
    }
}

@media screen and (max-width: 550px) {
    .portfolio__projects-content-container {
        margin: 2rem 3rem;
    }
    .portfolio__projects-content h1 {
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.05em;
        margin-bottom: 2rem;
    }
    .portfolio__projects-content-body {
        /* margin: 0px; */
        margin-top: 2rem;
        justify-content: center;
        align-items: center;
    }
    .portfolio__projects-content-body p {
        font-size: 16px;
        line-height: 18px;
        letter-spacing: 0.04em;
    }
    .portfolio__projects-content-body .button {
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.05em;
        margin-top: 2rem;
        padding: 0.5rem 1rem;
    }
    .portfolio__projects-content-img {
        margin: 0px;
        justify-content: center;
        align-items: center;
    }
    .portfolio__projects-content-img img {
        width: 192px;
        height: auto;
        border-radius: 8px;
    }
    .portfolio__projects-content-body p b {
        font-size: 18px;
        line-height: 20px;
        letter-spacing: 0.08em;
    }
}
@media screen and (max-width: 375px) {
    .portfolio__projects-content-container {
        margin: 2rem;
    }
    .portfolio__projects-content-img img {
        width: 144px;
        height: auto;
        border-radius: 8px;
    }
}
@media screen and (max-width: 320px) {
    .portfolio__projects-content-container {
        margin: 1rem;
        padding: 1rem;
    }
    .portfolio__projects-content-img img {
        width: 144px;
        height: auto;
        border-radius: 8px;
    }
}