@import url("https://fonts.googleapis.com/css2?family=Megrim&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

:root {
  --font-family: "Megrim";
  --font-family-text: "Josefin Sans";
  --font-family-title: "Poppins";

  /* --color-primary: #0F1624;
    --color-text: #FFFAFF;
    --color-white: #FFFFFF;
    --color-black: #000000; */

  --color-primary: linear-gradient(90deg, #ece9e6 0%, #ffffff 100%);
  --color-text: #101010;
  --color-white: #fff;
  --color-black: #010101;
  --color-lgb: rgb(69, 69, 69, 0.16);

  --signature-anim-time: 6s;
}
